/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #1e321c;
    background-color: #e8ffe3e2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #my-portrait {
    width: 250px;
  }
  .section1 {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #aecd7e;
    background-color: #f5fff8;
    border-radius: 50px;
  }
  .section2 {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #aecd7e;
    background-color: #f5fff8;
    border-radius: 50px;
  }
  .section3 {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #aecd7e;
    background-color: #f5fff8;
    border-radius: 50px;
  }
  .special {
    background-color: rgb(164, 79, 162);
    border: dashed 50px rgb(235, 227, 227);
    color: rgb(23, 14, 15);
    font-weight: bold;
}

 