/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #e05fdc;
    background-color: #fdc4fd;
  }
  h1 { color: #ce2680;
    font-family: Brush Script MT;
    font-size: 350%;
  }


  p {
    font-family: Montserrat;
    font-size: 130%;
    font-style: oblique;
  }